server:
  port: ${APPLICATION_PORT:8080}
  servlet:
    context-path: /api
    encoding:
      force: true
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  undertow:
    threads:
      worker: 64
      io: 4
  shutdown: graceful

spring:
  main:
    banner-mode: off
  application:
    name: fast-food-soat

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:postgres}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASS:P@ssw0rd}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        connection:
          autocommit: false
        generate_statistics: false
    open-in-view: false

  jackson:
    serialization:
      indent_output: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

aws:
  sqs:
    order-to-kitchen:
      queue-url: ${ORDER_TO_KITCHEN_QUEUE_URL}
      queue-name: ${ORDER_TO_KITCHEN_NAME}
    kitchen-to-order:
      queue-url: ${KITCHEN_TO_ORDER_QUEUE_URL}
      queue-name: ${KITCHEN_TO_ORDER_NAME}
    payment-to-order:
      queue-url: ${PAYMENT_TO_ORDER_QUEUE_URL}
      queue-name: ${PAYMENT_TO_ORDER_NAME}
    order-to-payment:
      queue-url: ${ORDER_TO_PAYMENT_QUEUE_URL}
      queue-name: ${ORDER_TO_PAYMENT_NAME}







