name: CI Test & Validation

on:
  pull_request:
    branches: [main, develop]
    types: [opened, synchronize, reopened]

env:
  DOCKER_IMAGE_NAME: srteixeiradias/order_service

jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Para o SonarCloud

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run Tests with Coverage
        run: ./gradlew test jacocoTestReport --no-daemon

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-coverage-report
          path: build/reports/jacoco/test/jacocoTestReport.xml
          retention-days: 1

  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: java-coverage-report
          path: build/reports/jacoco/test/

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar --no-daemon

  docker:
    name: Docker Build Validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Build
        run: docker build -t ${{ env.DOCKER_IMAGE_NAME }}:test-only .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.DOCKER_IMAGE_NAME }}:test-only
          severity: CRITICAL
          ignore-unfixed: true
          format: table
          exit-code: 0

      - name: Cleanup
        if: always()
        run: docker rmi ${{ env.DOCKER_IMAGE_NAME }}:test-only || true